# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

MyModifyVersion/output/match_cycle_*
MyModifyVersion/simple_match_cycle_*
MyModifyVersion/output/simple*
MyModifyVersion/classbench_256k_s

lzyDynamicFourLayerVersion/*.vcxproj
lzyDynamicFourLayerVersion/*.sln
lzyDynamicFourLayerVersion/*.filters
lzyDynamicFourLayerVersion/*.user
lzyDynamicFourLayerVersion/acl_128k_test

MyModifyVersion/src/run
lzyDynamicFourLayerVersion/acl128_same_fmt_with_cb256k/*.txt
lzyDynamicFourLayerVersion/acl128_same_fmt_with_cb256k/o
20221003-GraduationDesign/.cmake
lzyDynamicFourLayerVersion/.idea/codeStyles

20221003-GraduationDesign/pcRun
20221003-GraduationDesign/Testing/Temporary/LastTest.log
20221003-GraduationDesign/io/CMakeFiles/io.dir/build.make
20221003-GraduationDesign/TamaSearch/CMakeFiles/TamaSearch.dir/build.make
20221003-GraduationDesign/MultiLevelHash/CMakeFiles/MultiLevelHash.dir/build.make
20221003-GraduationDesign/BruteForceSearch/CMakeFiles/BruteForceSearch.dir/build.make
20221003-GraduationDesign/HEMBitsetsSearch/CMakeFiles/HEMBitsetsSearch.dir/build.make
20221003-GraduationDesign/io/Makefile
20221003-GraduationDesign/cmake-build-debug/CMakeFiles/clion-log.txt
20221003-GraduationDesign/TamaSearch/CMakeFiles/TamaSearch.dir/compiler_depend.make
20221003-GraduationDesign/HEMBitsetsSearch/Makefile
20221003-GraduationDesign/CMakeFiles/Makefile2
20221003-GraduationDesign/BruteForceSearch/Makefile
20221003-GraduationDesign/TamaSearch/Makefile
20221003-GraduationDesign/TamaSearch/CMakeFiles/TamaSearch.dir/compiler_depend.internal
20221003-GraduationDesign/.vs
20221003-GraduationDesign/out
20221003-GraduationDesign/CMakeCache.txt
20221003-GraduationDesign/CMakeFiles
20221003-GraduationDesign/Makefile
20221003-GraduationDesign/cmake-build-debug
20221003-GraduationDesign/cmake_install.cmake
*.cmake
20221003-GraduationDesign/TamaSearch/CMakeFiles/TamaSearch.dir/flags.make
*.make
20221003-GraduationDesign/BruteForceSearch/CMakeFiles
20221003-GraduationDesign/HEMBitsetsSearch/CMakeFiles
20221003-GraduationDesign/HEMBitsetsSearch/cmake_install.cmake
20221003-GraduationDesign/MultiLevelHash/CMakeFiles
20221003-GraduationDesign/TamaSearch/CMakeFiles
20221003-GraduationDesign/.vscode
20221003-GraduationDesign/CMakeSettings.json
