# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

MyModifyVersion/output/match_cycle_*
MyModifyVersion/simple_match_cycle_*
MyModifyVersion/output/simple*
MyModifyVersion/classbench_256k_s

lzyDynamicFourLayerVersion/*.vcxproj
lzyDynamicFourLayerVersion/*.sln
lzyDynamicFourLayerVersion/*.filters
lzyDynamicFourLayerVersion/*.user
lzyDynamicFourLayerVersion/acl_128k_test

MyModifyVersion/src/run
lzyDynamicFourLayerVersion/acl128_same_fmt_with_cb256k/*.txt
lzyDynamicFourLayerVersion/acl128_same_fmt_with_cb256k/o

